* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1700;
    height: auto;
}

header div {
    position: absolute;
}

#logo {
    position: absolute;
    left: 265px;
    top: 22px;
}

header span {
    margin: 7px;
    font-size: 14px;
    
}

#divSpan {
    left: 641px;
    width: 723px;
    top: 35px;
}

#home {
    width: 70px;
    height: 30px;
    background-color: #FFBB42;
    z-index: -1;
    border-radius: 5px;
    left: 630px;
    top: 30px;
}

#blueBlock {
    width: 1700px;
    height: 589px;
    background-color: #709DCA;
    position: absolute;
    top: 93px;
}

#heading {
    position: absolute;
    top: 108px;
    left: 516px;
}

#heading, span {
    text-align: center;
}

#p1 {
    font-size: 30px;
}

#input, form {
    position: absolute;
    left: 306px;
    top: 198px;
}

form input {
    height: 46px;
    width: 279px;
    border-radius: 4px;
}

#request {
    background-color: #FFBB42;
    width: 211px;
    height: 50px;
}

#comp {
    position: absolute;
    top: 309px;
    left: 526px;
}

#screen {
    position: absolute;
    left: 102px;
    top: 15px;
}

#cricle {
    position: absolute;
    top: 765px;
    left: 815px;
}