* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1700;
    height: auto;
}

header div {
    position: absolute;
}

#logo {
    position: absolute;
    left: 265px;
    top: 22px;
}

header span {
    margin: 7px;
    font-size: 14px;
    
}

#divSpan {
    left: 641px;
    width: 723px;
    top: 35px;
}

#home {
    width: 70px;
    height: 30px;
    background-color: #FFBB42;
    z-index: -1;
    border-radius: 5px;
    left: 630px;
    top: 30px;
}

#blueBlock {
    width: 1700px;
    height: 589px;
    background-color: #709DCA;
    position: absolute;
    top: 93px;
}

#heading {
    position: absolute;
    top: 108px;
    left: 516px;
}

#heading, span {
    text-align: center;
}

#p1 {
    font-size: 30px;
}

#input, form {
    position: absolute;
    left: 306px;
    top: 198px;
}

#input, input {
    height: 46px;
    width: 279px;
    border-radius: 4px;
}

#request {
    background-color: #FFBB42;
    width: 211px;
    height: 50px;
}

#comp {
    position: absolute;
    top: 309px;
    left: 526px;
}

#screen {
    position: absolute;
    left: 102px;
    top: 15px;
}

#cricle {
    position: absolute;
    top: 765px;
    left: 815px;
}

#ourService {
    position: absolute;
    top: 884px;
    left: 688px;
    text-align: center;
}

.grid-container {
    position: absolute;
    top: 1016px;
    left: 264px;
    display: grid;
    grid-template-areas: "post-1 post-2" "post-3 post-4" "post-5 post-6";
    grid-template-rows: repeat(3, 168px);
    grid-template-columns: repeat(2, 615px);
    font-size: 15px;
}

.post-1 {
    grid-area: post-1;
}

.post-1 div {
    position: absolute;
    top: 0px;
    left: 78px;
}

.post-2 {
    grid-area: post-2;
}
.post-2 div{
    position: absolute;
    top: 0px;
    left: 684px;
}

.post-3 {
    grid-area: post-3;
}

.post-3 div {
    position: absolute;
    top: 168px;
    left: 78px;
}

.post-4 {
    grid-area: post-4;
}
.post-4 div{
    position: absolute;
    top: 168px;
    left: 684px;
}

.post-5 {
    grid-area: post-5;
}
.post-5 div{
    position: absolute;
    top: 336px;
    left: 78px;
}

.post-6 {
    grid-area: post-6;
}
.post-6 div{
    position: absolute;
    top: 336px;
    left: 684px;
}
